/* @font-face {
	font-family: 'TT Lakes';
	src: url('../fonts/TTLakes-Bold.eot');
	src: local('☺'), url('../fonts/TTLakes-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'TT Lakes';
	src: url('../fonts/TTLakes-Regular.eot');
	src: local('☺'), url('../fonts/TTLakes-Regular.woff') format('woff'), url('../fonts/TTLakes-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TT Lakes';
	src: url('../fonts/TTLakes-Medium.eot');
	src: local('☺'), url('../fonts/TTLakes-Medium.woff') format('woff'), url('../fonts/TTLakes-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
} */


/* body{
	margin: 0;
	padding:0;
	font-family: 'TT Lakes';
	
} */

.aside-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 320px;
	margin-right: auto;
	position: relative;
	box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
	background-color: white;
}

/* ul{
	list-style-type: none;
	padding: 0;
} */

/* a{
	display: inline-block;
	text-decoration: none;
	color: black;
} */

.aside-header .btn{
	border: none;
	width: 40px;
	height: 40px;
	background-color: transparent;
	background-size: cover;
	cursor: pointer;

}

.btn-search{
	background: url(../img/search.svg);
}

.btn-burger-close{
background-image: url(../img/burger-cl.svg);
}

.aside-wrapper  .container{
	padding: 1.5em;
	display: flex;
padding-bottom: 0;
	align-items: center;
}

.aside__btn-search{
	margin-left: auto;
}


.aside-wrapper .logo{
	margin-left: 1.3em;
}

.services__item{
	margin-bottom: 2.5em;
	transition: all 400ms ease;
	position: relative;
}

.services__link--active::before{
content: "";
height: 32px;
width: 4px;
background: rgba(65, 246, 215, 1);
position: absolute;
left: -1.5rem;
top: -5px;
border-bottom-right-radius: 6px;
border-top-right-radius: 6px;
display: block;
}

.services__link:hover{
	
	filter:opacity(.7);
}


.aside-wrapper .aside-footer__container{
	display: flex;
	flex-direction: column;
	align-items: flex-start;	
	padding-bottom: 1.5em;
	
}

.icon, .switch-lang__btn{
	transition: all 500ms linear;
}

.icon:hover{
	filter:opacity(.6)
}
.switch-lang__btn:hover{
	filter:opacity(.5);
}

 .aside-footer__userbar-items{
	/* display: flex;
	align-items: center; */
	width: 65%;
	justify-content: space-between;
	margin-bottom: 1.5em;
	
	}

	/* .aside-footer__userbat-items .userbar-items__link{
		margin-right: 1em;
	} */

.icon{
	width: 40px;
	height: 40px;
	background-size: cover;
	display: inline-block;
}


.aside-header .userbar-items__link:nth-child(1) > .userbar-items__inner .icon{
	background-image: url(../img/call.svg);
	
	}

	.aside-header .userbar-items__link:nth-child(2) > .userbar-items__inner .icon{
		background-image: url(../img/chat.svg);
		
		}

		.aside-header .userbar-items__link:nth-child(3) > .userbar-items__inner .icon{
			background-image: url(../img/profile.svg);
		
			}
			
			
			
.aside-footer__number{
	font-weight: 700;
	font-size: 1.5rem;
	margin: 0;
}

.aside-footer__email{
margin-bottom: 1.5em;
	}
	
.switch-lang__btn{
	margin-top: 1em;
	margin-right: 10px;
	border: none;
	background-color: transparent;
	padding: 0;
	cursor: pointer;
	font-family: 'TT Lakes';
}

	.aside-footer__switch-lang{
		margin-top: 2em;
	}
	

